/*Global: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #3c4043;
    font-size: 14px;
    line-height: 24px;
}

/*HEADER*/
header {
    height: 7rem;
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-end;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
nav {
    width: 100%;
    background-color: white;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
.container-privacy-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #aaa;
    font-size: 20px;
    height: 30px;
    margin-bottom: 10px;
}
  
.logo {
    width: 70px;
}
  
.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}
  
.nav-links a {
    text-decoration: none;
    color: #5f6368;
    font-size: 16px;
    padding-bottom: 11px;
}
  
.active-link {
    color: #3467D6;
    border-bottom: 3px solid #3467D6;
}

img {
    max-width: 100%;
    display: block;
  }

.privacy-terms {
    color: #5f6368;
    font-size: 23px;
}


/*MAIN*/
main {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
}

p {
    margin: 20px auto;
}

ul {
    list-style: none;
}

p a {
    text-decoration: none;
    color: #3367d6;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}


/*FOOTER */
footer {
    height: 3rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}
.footer-container {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
  
.footer-links{
    display: flex;
    gap: 10px;
    list-style: none;
    color: #aaa;
}
  
.footer-links a{
    text-decoration: none;
    color: rgba(61,61,61,.8);
}
  
#languages{
    height: 100%;
    width: 160px;
    margin-right: 20px;
}

.fa-globe {
      color: #3367d6;
      margin-right: 5px;
      font-size: 20px;
      vertical-align: middle;
}

